<section class="container">
  <h2 class="titulo">Extrato</h2>

  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Data</th>
      <th class="tabela__cabecalho__conteudo">Valor</th>
      <th class="tabela__cabecalho__conteudo">Conta</th>
    </thead>
    <tbody *ngIf="valuesTrans?.length > 0;else semTransferencias">
      <tr class="tabela__linha" *ngFor="let valor of valuesTrans">
        <td class="tabela__conteudo">{{valor.data | date : 'short'}}</td>
        <td class="tabela__conteudo">{{valor.valor}}</td>
        <td class="tabela__conteudo">{{valor.destino}}</td>
      </tr>
    </tbody>
  </table>

</section>
<ng-template #semTransferencias>
  <p>Nenhuma Transferência Cadastrada !</p>
</ng-template>
