<section class="container">
  <h2 class="titulo">Extrato</h2>

  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Data</th>
      <th class="tabela__cabecalho__conteudo">Valor</th>
      <th class="tabela__cabecalho__conteudo">Conta</th>
    </thead>
    <tbody>
      <tr class="tabela__linha">
        <td class="tabela__conteudo"></td>
        <td class="tabela__conteudo"></td>
        <td class="tabela__conteudo"></td>
      </tr>
    </tbody>
  </table>

</section>
