<section class="container">
  <form class="formulario" (ngSubmit)="transferir()">
    <h2 class="formulario__titulo">Nova Transferência</h2>

    <div class="form-field">
      <label for="valor" class="form-field__label">Valor</label>
      <input [(ngModel)]="valor" name="valor" id="valor" type="number" class="form-field__input">
    </div>

    <div class="form-field">
      <label for="conta" class="form-field__label">Conta</label>
      <input [(ngModel)]="conta" name="conta" id="conta" type="text" class="form-field__input">
    </div>

    <div class="botao-wrapper">
      <button class="botao">Transferir</button>
    </div>
  </form>
</section>
